.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-img {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 450px;
}

.second-title-img {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 107px;
    width: 250px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fed523;
    border-top: 2px solid black;
}

.card {
    border: 5px solid black;
}

.card-top {
    background-color: #7EC8AC;
    text-align: center;
}

.btn {
    border: 2px solid black;
}

.card-footer {
    background-color: #7EC8AC;
    border-top: 2px solid black;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
}

/* Media Queries */

@media (max-width: 1024px) {
    .title-img {
        height: 67.7px;
        width: 300px;
        margin-top: 30px;
    }
    
    .second-title-img {
        height: 71px;
        width: 167px;
    }

    .card-container {
        margin-bottom: 20px;
    }

    .card {
        width: 200px !important;
    }
    
    .card-container .card-body .card-title {
        font-size: 14px;
        margin-bottom: 0;
    }

    h5 {
        font-size: 16px;
        margin: 5px 0;
    }

    .btn {
        font-size: 14px;
        padding: 3px 6px;
        margin-left: 5px;
    }
}

@media (max-width: 412px) {
    .title-img {
        height: 50px;
        width: 225px;
    }
    
    .second-title-img {
        height: 71px;
        width: 167px;
    }
}