.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 600px;
}