.title-img {
    height: 100px;
    width: 220px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 5px 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#email,
#password {
    border: 2px solid black;
    width: 20em;
}

#submit_btn {
    background-color: #fed523;
    border: 2px solid black;
    color: black;
    font-weight: 500;
}

label {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

/* Media Queries */

@media (max-width: 540px) {
    .title-img {
        height: 66px;
        width: 146.7px;
    }

    form {
        width: 300px;
    }

    label {
        font-size: 20px;
    }

    #email,
    #password {
        width: 250px;
        font-size: 15px;
    }
}

@media (max-width: 280px) {
    .title-img {
        height: 50px;
        width: 110px;
    }

    form {
        width: 250px;
    }

    #email,
    #password {
        width: 200px;
        font-size: 12px;
    }

    label {
        font-size: 15px;
    }

    #submit_btn {
        font-size: 14px;
    }
}