h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table { 
    table-layout:fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    border: 1px solid white;
}

td:first-child {
    border-left: none;
}

td:last-child{
    border-right: none;
}