.navbar {
    background-color: #fed523;
    border-bottom: 2px solid black;
}

.navbar-brand img {
    height: 50px;
    width: 280px;
}

body {
    background-image: url("../images/pokemon13-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table { 
    table-layout:fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    border: 1px solid white;
}

th { 
    border: 1px solid white;
}

/* Media Queries */

@media (max-width: 412px) {
    .navbar-brand img {
        height: 33px;
        width: 186.7px;
    }
}

@media (max-width: 280px) {
    .navbar-toggler {
        padding: 4px 8px;
    }

    .navbar-toggler .navbar-toggler-icon {
        height: 20px;
        width: 20px; 
    }

    .nav-link {
        font-size: 14px;
    }
      
}