.navbar {
    background-color: #fed523;
    border-bottom: 2px solid black;
}

.navbar-brand img {
    height: 50px;
    width: 280px;
}

body {
    background-image: url("../images/pokemon13-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table { 
    table-layout:fixed;
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    border: 1px solid white;
}

td:first-child {
    border-left: none;
}

td:last-child{
    border-right: none;
}