{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/battle_team.css')}}">{% endblock %}

{% block title %}
Battle Team
{% endblock %}

{% block content %}
<img src="../static/images/i-choose-you-img.png" alt="" class="title-img">


{% if opponent_team %}
<img src="../static/images/opponents-team-img.png" alt="" class="opponent-team-img">
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">Base Experience</th>
            <th scope="col">Sprite</th>
            <th scope="col">Attack Base Stat</th>
            <th scope="col">HP Base Stat</th>
            <th scope="col">Defense Base Stat</th>
            <th scope="col">Pokemon Image</th>
        </tr>
    </thead>
    <tbody>
        {% for pokemon in opponent_team %}
        <tr>
            <th scope="row">{{pokemon.name}}</th>
            <td>{{pokemon.ability}}</td>
            <td>{{pokemon.base_experience}}</td>
            <td>{{pokemon.sprite_url}}</td>
            <td>{{pokemon.attack_base_stat}}</td>
            <td>{{pokemon.hp_base_stat}}</td>
            <td>{{pokemon.defense_base_stat}}</td>
            <td><img src="{{pokemon.sprite_url}}" alt="pokemon picture"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% if my_team %}
<img src="../static/images/your-team-img.png" alt="" class="your-team-img">
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">Base Experience</th>
            <th scope="col">Sprite</th>
            <th scope="col">Attack Base Stat</th>
            <th scope="col">HP Base Stat</th>
            <th scope="col">Defense Base Stat</th>
            <th scope="col">Pokemon Image</th>
        </tr>
    </thead>
    <tbody>
        {% for pokemon in my_team %}
        <tr>
            <th scope="row">{{pokemon.name}}</th>
            <td>{{pokemon.ability}}</td>
            <td>{{pokemon.base_experience}}</td>
            <td>{{pokemon.sprite_url}}</td>
            <td>{{pokemon.attack_base_stat}}</td>
            <td>{{pokemon.hp_base_stat}}</td>
            <td>{{pokemon.defense_base_stat}}</td>
            <td><img src="{{pokemon.sprite_url}}" alt="pokemon picture"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<a href="" class="battle-btn">Battle!!!</a>

{% endblock %}