{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">{% endblock %}

{% extends 'base.html' %}

{% block content %}
    <img src="../static/images/home-title-image.png" alt="" class="title-img">

    <div class="home-body-container">
        <div class="home-body">
            <h1>
                How To Play
            </h1>
            <hr>
            <h3>
                <span><img src="../static/images/favicon-32x32.png" alt="" class="pokeball"></span>Choose Your Team<span><img src="../static/images/favicon-32x32.png" alt="" class="pokeball"></span>
            </h3>
            <p>
                Search Your Pokemon
                <br>
                Catch Pokemon To Add To Your Team
                <br>
                Choose Up To 5 Pokemon
            </p>
            <br>
            <h3>
                <span><img src="../static/images/favicon-32x32.png" alt="" class="pokeball"></span>Battle<span><img src="../static/images/favicon-32x32.png" alt="" class="pokeball"></span>
            </h3>
            <p>
                Choose Your Opponent
                <br>
                View Your Teams Side By Side
                <br>
                Battle!!
            </p>
            <br>
            <h3>
                <span><img src="../static/images/favicon-32x32.png" alt="" class="pokeball"></span>Good Luck, Trainer!<span><img src="../static/images/favicon-32x32.png" alt="" class="pokeball"></span>
            </h3>
        </div>
    </div>
{% endblock %}