{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">{% endblock %}

{% block title %}
Sign In
{% endblock %}

{% block content %}
<img src="../static/images/login-img.png" alt="" class="title-img">
<form action="/login" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label}}
      {{form.email(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.password.label}}
      {{form.password(class="form-control")}}
    </div>
    {{form.submit_btn(class="btn btn-primary")}}
  </form>
  <div>
    <small style="color: red">{{error}}</small>
  </div>

{% endblock %}