{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/pokemon_form.css')}}">{% endblock %}

{% block title %}
Pokemon Search
{% endblock %}

{% block content %}
<img src="../static/images/database-title.png" alt="" class="title-img">
<form action="/pokemon_form" method="POST">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.pokemon_name.label}}
    {{form.pokemon_name(class="form-control")}}
  </div>
  {{form.submit_btn(class="btn btn-primary")}}
  <div>
    <small style="color: red">{{error}}</small>
  </div>
</form>

{% if new_pokemon_data %}
<table class="table table-striped table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Base Experience</th>
      <!-- <th scope="col">Sprite</th> -->
      <th scope="col">Attack Base Stat</th>
      <th scope="col">HP Base Stat</th>
      <th scope="col">Defense Base Stat</th>
      <th scope="col">Pokemon Image</th>
    </tr>
  </thead>
  <tbody>
    {% for pokemon_name in new_pokemon_data %}
    <tr>
      <th scope="row">{{pokemon_name.name.title()}}</th>
      <td>{{pokemon_name.ability.title()}}</td>
      <td>{{pokemon_name.base_experience}}</td>
      <!-- <td>{{pokemon_name.sprite_url}}</td> -->
      <td>{{pokemon_name.attack_base_stat}}</td>
      <td>{{pokemon_name.hp_base_stat}}</td>
      <td>{{pokemon_name.defense_base_stat}}</td>
      <td class="poke-img-table"><img src="{{pokemon_name.sprite_url}}" alt="pokemon picture" class="poke-img"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a id="catch_btn" href="{{url_for('main.catch', poke_name=new_pokemon_data[0].name)}}">Catch</a>
{% endif %}
{% endblock %}