{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='css/pokemon_form.css')}}">{% endblock %}

{% block title %}
Pokemon
{% endblock %}

{% block content %}
<img src="../static/images/database-title.png" alt="" class="title-img">
<!-- <h1>Add Your Pokemon!</h1>
<h2>Gotta catch them all!</h2> -->
<form action="/pokemon_form" method="POST">
  {{form.hidden_tag()}}
    <div class="form-group">
      {{form.pokemon_name.label}}
      {{form.pokemon_name(class="form-control")}}
    </div>
    {{form.submit_btn(class="btn btn-primary")}}
    <div>
      <small style="color: red">{{error}}</small>
    </div>
</form>

{% if new_pokemon_data %}
<table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Sprite</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">HP Base Stat</th>
        <th scope="col">Defense Base Stat</th>
        <th scope="col">Pokemon Image</th>
      </tr>
    </thead>
    <tbody>
        {% for pokemon_name in new_pokemon_data %}
        <tr>
        <th scope="row">{{pokemon_name.name}}</th>
        <td>{{pokemon_name.ability}}</td>
        <td>{{pokemon_name.base_experience}}</td>
        <td>{{pokemon_name.sprite_url}}</td>
        <td>{{pokemon_name.attack_base_stat}}</td>
        <td>{{pokemon_name.hp_base_stat}}</td>
        <td>{{pokemon_name.defense_base_stat}}</td>
        <td><img src="{{pokemon_name.sprite_url}}" alt="pokemon picture"></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}