{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/view_team.css')}}">{% endblock %}

{% block title %}
View Team
{% endblock %}

{% block content %}
<img src="../static/images/captured-pokemon-img.png" alt="" class="title-img">


{% if my_team %}
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">Base Experience</th>
            <th scope="col">Sprite</th>
            <th scope="col">Attack Base Stat</th>
            <th scope="col">HP Base Stat</th>
            <th scope="col">Defense Base Stat</th>
            <th scope="col">Pokemon Image</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for pokemon in my_team %}
        <tr>
            <th scope="row">{{pokemon.name}}</th>
            <td>{{pokemon.ability}}</td>
            <td>{{pokemon.base_experience}}</td>
            <td>{{pokemon.sprite_url}}</td>
            <td>{{pokemon.attack_base_stat}}</td>
            <td>{{pokemon.hp_base_stat}}</td>
            <td>{{pokemon.defense_base_stat}}</td>
            <td><img src="{{pokemon.sprite_url}}" alt="pokemon picture"></td>
            <td class="last-tr"><a class="table_btns" href="{{url_for('main.remove_from_team', name=pokemon.name)}}">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}